<body>
    {{#if imageToggle}}
        <img style="display:block; margin-left:auto; margin-right:auto; border:none" src="{{ imagePath }}" width="{{ imageWidth }}" height="{{ imageHeight }}" />
    {{/if}}

    {{#unless imageToggle}}
        <b style="text-align:center; font-size:430px;">{{localize 'XCard.WindowSymbol'}}</b>
    {{/unless}}

    <a style="display:block; margin-left:auto; margin-right:auto; color: black; text-decoration: none;" href="{{localize 'XCard.AuthorshipUrl'}}">{{localize 'XCard.Authorship'}}</a>
</body>
